* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* Previene scroll no deseado */

    background-image: url('../img/pattern-02.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    justify-content: center;
    background-color: #341b1b;
    font-family: 'Sora', sans-serif;
}

/* Header: 15% de la altura de la pantalla */
header {
    height: 15vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    border-bottom: 1px solid #333;
}

/* Main: Ocupa exactamente el espacio restante (78vh) */
main {
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* La imagen se ajusta estrictamente al alto del main */
.img-evento {
    max-height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    /* Garantiza proporción cuadrada */
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Footer: 7% de la altura de la pantalla */
footer {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 1px solid #333;
    font-size: 0.85rem;
    color: #FFF;
}

footer a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}